*~
.*.swp
*.[oa]
*.l[oa]
*.so
*.libs
*.deps
Makefile
/config.h
/config.log
/config.status
/configure-stamp
/libtool
/src/dynamic-examples/dynamic-preprocessor/sf_dynamic_preproc_lib.c
/src/dynamic-examples/dynamic-rule/sfsnort_dynamic_detection_lib.c
/src/dynamic-examples/dynamic-rule/sfsnort_dynamic_detection_lib.h
/src/dynamic-examples/include
/src/dynamic-preprocessors/build
/src/dynamic-preprocessors/dcerpc/sf_dynamic_preproc_lib.c
/src/dynamic-preprocessors/dns/sf_dynamic_preproc_lib.c
/src/dynamic-preprocessors/ftptelnet/sf_dynamic_preproc_lib.c
/src/dynamic-preprocessors/include
/src/dynamic-preprocessors/smtp/sf_dynamic_preproc_lib.c
/src/dynamic-preprocessors/ssh/sf_dynamic_preproc_lib.c
/stamp-h1
/build-arch-stamp
/build-basic-stamp
/build-indep-stamp
/build-mysql-stamp
/build-pgsql-stamp
/build-stamp
/debian/files
/debian/vyatta-snort-common-libraries.postinst.debhelper
/debian/vyatta-snort-common-libraries.postrm.debhelper
/debian/vyatta-snort-common-libraries.substvars
/debian/vyatta-snort-common-libraries
/debian/vyatta-snort-common.postrm.debhelper
/debian/vyatta-snort-common.substvars
/debian/vyatta-snort-common
/debian/vyatta-snort-doc.postinst.debhelper
/debian/vyatta-snort-doc.prerm.debhelper
/debian/vyatta-snort-doc
/debian/vyatta-snort-mysql.postrm.debhelper
/debian/vyatta-snort-mysql.substvars
/debian/vyatta-snort-mysql
/debian/vyatta-snort-pgsql.postrm.debhelper
/debian/vyatta-snort-pgsql.substvars
/debian/vyatta-snort-pgsql
/debian/vyatta-snort-rules-default
/debian/vyatta-snort.postrm.debhelper
/debian/vyatta-snort.substvars
/debian/vyatta-snort
/debian/vyatta-snort-common-libraries.debhelper.log
/debian/vyatta-snort-common.debhelper.log
/debian/vyatta-snort-rules-default.debhelper.log
/debian/vyatta-snort.debhelper.log
/doc/faq.aux
/doc/faq.idx
/doc/faq.log
/doc/faq.out
/doc/faq.pdf
/doc/faq.toc
/doc/snort_manual.aux
/doc/snort_manual.log
/doc/snort_manual.out
/doc/snort_manual.pdf
/doc/snort_manual.toc
/src/snort
/src/snort-basic
/src/snort-mysql
/src/snort-pgsql
