*~
.*.swp
*.[oa]
*.l[oa]
*.so
*.libs
*.deps
Makefile
/config.h
/config.log
/config.status
/configure-stamp
/libtool
/src/dynamic-examples/dynamic-preprocessor/sf_dynamic_preproc_lib.c
/src/dynamic-examples/dynamic-rule/sfsnort_dynamic_detection_lib.c
/src/dynamic-examples/dynamic-rule/sfsnort_dynamic_detection_lib.h
/src/dynamic-examples/include
/src/dynamic-preprocessors/build
/src/dynamic-preprocessors/dcerpc/sf_dynamic_preproc_lib.c
/src/dynamic-preprocessors/dns/sf_dynamic_preproc_lib.c
/src/dynamic-preprocessors/ftptelnet/sf_dynamic_preproc_lib.c
/src/dynamic-preprocessors/include
/src/dynamic-preprocessors/smtp/sf_dynamic_preproc_lib.c
/src/dynamic-preprocessors/ssh/sf_dynamic_preproc_lib.c
/stamp-h1
