*~
.*.swp
*.[oa]
*.l[oa]
*.so
*.libs
*.deps
Makefile
Makefile.in
/config.h
/config.log
/config.status
/configure-stamp
/autom4te.cache
/libtool
/aclocal.m4
/confdefs.h
/config.guess
/config.h.in
/configure
/install-sh
/ltmain.sh
/missing
/ylwrap
/stamp-h1
/build-arch-stamp
/build-basic-stamp
/build-indep-stamp
/build-mysql-stamp
/build-pgsql-stamp
/build-stamp
/cflags.out
/cppflags.out
/snort.pc

/debian/files
/debian/vyatta-snort-common-libraries.postinst.debhelper
/debian/vyatta-snort-common-libraries.postrm.debhelper
/debian/vyatta-snort-common-libraries.substvars
/debian/vyatta-snort-common-libraries
/debian/vyatta-snort-common.postrm.debhelper
/debian/vyatta-snort-common.substvars
/debian/vyatta-snort-common
/debian/vyatta-snort-doc.postinst.debhelper
/debian/vyatta-snort-doc.prerm.debhelper
/debian/vyatta-snort-doc
/debian/vyatta-snort-mysql.postrm.debhelper
/debian/vyatta-snort-mysql.substvars
/debian/vyatta-snort-mysql
/debian/vyatta-snort-pgsql.postrm.debhelper
/debian/vyatta-snort-pgsql.substvars
/debian/vyatta-snort-pgsql
/debian/vyatta-snort-rules-default
/debian/vyatta-snort.postrm.debhelper
/debian/vyatta-snort.substvars
/debian/vyatta-snort
/debian/vyatta-snort-common-libraries.debhelper.log
/debian/vyatta-snort-common.debhelper.log
/debian/vyatta-snort-rules-default.debhelper.log
/debian/vyatta-snort.debhelper.log
/doc/faq.aux
/doc/faq.idx
/doc/faq.log
/doc/faq.out
/doc/faq.pdf
/doc/faq.toc
/doc/snort_manual.aux
/doc/snort_manual.log
/doc/snort_manual.out
/doc/snort_manual.pdf
/doc/snort_manual.toc
/src/snort
/src/snort-basic
/src/snort-mysql
/src/snort-pgsql

/src/dynamic-examples/dynamic-preprocessor/sf_dynamic_preproc_lib.c
/src/dynamic-examples/dynamic-rule/sfsnort_dynamic_detection_lib.c
/src/dynamic-examples/dynamic-rule/sfsnort_dynamic_detection_lib.h
/src/dynamic-examples/include
/src/dynamic-preprocessors/build
/src/dynamic-preprocessors/dcerpc/sf_dynamic_preproc_lib.c
/src/dynamic-preprocessors/dns/sf_dynamic_preproc_lib.c
/src/dynamic-preprocessors/ftptelnet/sf_dynamic_preproc_lib.c
/src/dynamic-preprocessors/include
/src/dynamic-preprocessors/smtp/sf_dynamic_preproc_lib.c
/src/dynamic-preprocessors/ssh/sf_dynamic_preproc_lib.c

/src/detection-plugins/sf_snort_packet.h
/src/detection-plugins/sf_snort_plugin_api.h
/src/detection-plugins/sf_snort_plugin_hdropts.c
/src/dynamic-examples/dynamic-preprocessor/sfPolicyUserData.c
/src/dynamic-plugins/sf_engine/debug.h
/src/dynamic-plugins/sf_engine/debug.h.new
/src/dynamic-plugins/sf_engine/ipv6_port.h
/src/dynamic-plugins/sf_engine/ipv6_port.h.new
/src/dynamic-plugins/sf_engine/sf_ip.c
/src/dynamic-plugins/sf_engine/sf_ip.h
/src/dynamic-plugins/sf_engine/sf_types.h
/src/dynamic-plugins/sf_engine/sfghash.c
/src/dynamic-plugins/sf_engine/sfghash.h
/src/dynamic-plugins/sf_engine/sfhashfcn.c
/src/dynamic-plugins/sf_engine/sfhashfcn.c.new
/src/dynamic-plugins/sf_engine/sfhashfcn.h
/src/dynamic-plugins/sf_engine/sfprimetable.c
/src/dynamic-plugins/sf_engine/sfprimetable.h
/src/dynamic-preprocessors/dcerpc/sfPolicyUserData.c
/src/dynamic-preprocessors/dcerpc2/sfPolicyUserData.c
/src/dynamic-preprocessors/dcerpc2/sf_dynamic_preproc_lib.c
/src/dynamic-preprocessors/dcerpc2/sf_ip.c
/src/dynamic-preprocessors/dcerpc2/sfrt.c
/src/dynamic-preprocessors/dcerpc2/sfrt_dir.c
/src/dynamic-preprocessors/dns/sfPolicyUserData.c
/src/dynamic-preprocessors/ftptelnet/sfPolicyUserData.c
/src/dynamic-preprocessors/ftptelnet/sf_ip.c
/src/dynamic-preprocessors/ftptelnet/sfrt.c
/src/dynamic-preprocessors/ftptelnet/sfrt_dir.c
/src/dynamic-preprocessors/smtp/sfPolicyUserData.c
/src/dynamic-preprocessors/ssh/sfPolicyUserData.c
/src/dynamic-preprocessors/ssl/sfPolicyUserData.c
/src/dynamic-preprocessors/ssl/sf_dynamic_preproc_lib.c
